.sectionThree2{
    background: #ECF8F9;
}
.sectionThree2-wrapper{
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.three2-left{
    max-width: 50%;
}
.three2-title{
    font-weight:600 ;
    font-size:24px;
    line-height:36px ;
    color:#000000;
    margin-bottom: 16px;
    
}
.three2-titlee{
    max-width: 100%; 
    font-weight:600 ;
    font-size:36px;
    line-height:54px ;
    color: #232536;
    margin-bottom: 24px;
    
}
.three2-text{
    max-width: 100%; 
    font-weight:400 ;
    font-size:16px;
    line-height:24px ;
    color: #232536;
    opacity: 60%;
}
.three2-right{
    max-width: 50%;
}
.three2-rasm{
    max-width: 100%;
}
@media (max-width: 992px) {
  .sectionThree2-wrapper {
    gap: 30px; 
  }
  .three2-titlee {
    font-size: 30px; 
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .sectionThree2-wrapper {
    flex-direction: column; 
    text-align: center;      
    padding: 40px 0;      
  }

  .three2-left, 
  .three2-right {
    max-width: 100%; 
    padding-top: -30px;       
  }

  .three2-titlee {
    font-size: 26px;        
    line-height: 34px;
    margin-bottom: 20px;
  }
  
  .three2-text {
    margin-bottom: 30px;   
  }
}

@media (max-width: 576px) {
  .sectionThree2-wrapper {
    padding: 30px 0 ;          
  }
  .three2-title {
    font-size: 16px;   
    margin-bottom: 4px;
  }

  .three2-titlee {
    max-width: 100%;
    font-size: 26px;   
    line-height: 30px;
    margin-bottom: 12px;
  }

  .three2-text {
    max-width: 100%;
    font-size: 13px;    
    line-height: 18px;
    margin-bottom: 16px;
  }

  .three2-left {
    max-width: 90%;    
    margin: 0 auto;    
  }
}