.hero{
    background-color:  #232536;
}
.hero-wrapper{
    padding: 60px 0;
}
.hero-info{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 38px;
}
.hero-left{
    width: 100%;
    max-width: 50%;
    padding-top: 100px ;
}
.hero-title{
    max-width:624px; 
    font-weight:600 ;
    font-size:56px;
    line-height:68px ;
    color: #FFFFFF;
    margin-bottom: 24px;
    
}
.hero-text{
    max-width: 528px; 
    font-weight:400 ;
    font-size:16px;
    line-height:24px ;
    color: #FFFFFF;
    margin-bottom: 38px;
    
}
.hero-btn{
    padding: 18px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #444CFC;
    border: 1px solid #444CFC;
    color: #FFFFFF;
    font-weight:400 ;
    font-size:16px;
    line-height:24px ;
    border: none;
    &:hover{
        transform: scale(1.1);
        background: none;
        border: 1px solid #444CFC;
        
    }
}
.hero-span{
    color: #FFFFFF;
    font-size: 22px;
    display: inline-block;
    animation: moveArrow 1.5s infinite ease-in-out;
}
@keyframes moveArrow {
  0% {
    transform: translateX(0); 
  }
  50% {
    transform: translateX(10px); 
  }
  100% {
    transform: translateX(0); 
  }
}

.hero-right{
    width: 100%;
    max-width: 50%;
}
.hero-img{
    max-width: 100%;
}
.hero-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
}
.hero-item{
    max-width: 100%;
    background: #232536;
    display: flex;
    align-items: center;
    gap: 6px;

}
.heroList-text{ 
    font-weight:400 ;
    font-size:14px;
    line-height:20px ;
    color: #FFFFFF;
    
}
.heroList-text1{ 
    font-weight:400 ;
    font-size:14px;
    line-height:20px ;
    color: #FFFFFF;
    
}
.heroList-title{ 
    font-weight:500 ;
    font-size:18px;
    line-height:28px ;
    color: #FFFFFF;
    
}
@media (max-width: 992px) {
  .hero-info {
    flex-direction: column-reverse; 
    align-items: center;
    text-align: center;
  }
  
  .hero-left, .hero-right {
    max-width: 100%;
  }
  .hero-left{
    padding-top: 30px;
  }

  .hero-title {
    font-size: 40px;
    line-height: 50px;
    margin: 0 auto 20px;
  }
}

@media (max-width: 768px) {
  .hero-list {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .hero-title {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (max-width: 480px) {
  .hero-list {
     grid-template-columns: repeat(2, 1fr);
  }
  
  .hero-btn {
    margin: 0 auto; 
    width: 100%;
    justify-content: center;
  }
}