.sectionSeven{
    padding: 60px 0;
}
.sectionSeven-wrapper {
  background: #4C6EF5; 
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: white;
  margin-bottom: 200px;
}

.decor-box {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 20px);
  gap: 2px;
}
.d-orange { background: #F48C42; width: 62px; height: 50px; }
.d-light-orange { background: #FFFFFF66;width: 77px; height: 29px; }
.d-blue { background: #738bf5; width: 29px; height: 29px; margin-top: -5px;}

/* O'ng tarafdagi rangli chiziq */
.side-bar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 15px;
  display: flex;
  flex-direction: column;
}
.s-orange { flex: 1; background: #F48C42; }
.s-light-orange { flex: 1; background: #FFD4A2; }
.s-blue { flex: 1; background: #4C6EF5; }

/* Matn va Input */
.newsletter-content { display: flex; align-items: center; gap: 40px; width: 100%; }
.newsletter-text { flex: 1; }
.newsletter-text h2 { font-size: 32px; margin-top: 10px; }

.newsletter-input { display: flex; background: white; padding: 5px; border-radius: 4px; }
.newsletter-input input { border: none; padding: 15px; width: 250px; outline: none; }
.newsletter-input button { background: #F48C42; color: white; border: none; padding: 10px 25px; border-radius: 4px; cursor: pointer; }

/* Mobil uchun */
@media (max-width: 768px) {
  .sectionSeven-wrapper { flex-direction: column; text-align: center; gap: 30px; }
  .newsletter-input { flex-direction: column; width: 100%; }
  .newsletter-input input { width: 100%; }
}